{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["type-graphql"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:type-graphql/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": 1
  }
}
