@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Logo";
  src: url(/fonts/logo.otf) format("opentype");
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* overriding tailwind */
.reactEasyCrop_Cover_Vertical {
  max-width: none !important;
}

/* crop grid only shows being clicked */
.reactEasyCrop_CropAreaGrid::before {
  visibility: hidden;
}

.reactEasyCrop_CropAreaGrid::after {
  visibility: hidden;
}

.reactEasyCrop_CropAreaGrid:active::before {
  visibility: visible;
}

.reactEasyCrop_CropAreaGrid:active::after {
  visibility: visible;
}
